.services-list {
  margin: 40px auto 0;
  padding: 0 20px;
  max-width: var(--mobile-width);

  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 0;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;

      svg {
        max-width: 24px;
      }
      p {
        padding-left: .8rem;
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
    }

    @media (max-width: 680px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.7rem;
    }
  }
}
