.brand-description {
  background-color: var(--primary);
  padding: 60px 0;
  margin-top: 80px;

  .items {
    display: flex;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 20px;
    gap: 32px;
    color: var(--white);

    .title {
      padding-bottom: 1.2rem;
    }

    .description {
      font-weight: bold;

      span {
        font-weight: bold;
        color: var(--white);
        font-size: 1.6rem;
        text-decoration: underline;
      }
    }

    @media(max-width: 758px) {
      flex-direction: column;
    }
  }

}