.contact-form {
  width: 100%;
  margin-top: 40px;
  
  .contact-form-inner {
    margin: 0 auto;
    padding: 40px 24px 30px;
    box-shadow: var(--shadow-card);
    max-width: var(--tablet-width);

    .formkit-form .formkit-actions {
      display: none;
    }

    .formkit-messages {
      list-style-type: none;
      color: var(--danger);
      padding: 8px 0 0 0;
      text-align: center;
    }

    .form-group-inline {
      display: flex;
      align-items: flex-start;
      gap: 24px;
    }

    .form-group-input {
      position: relative;
      margin: 20px 0 28px;
      width: 100%;

      label {
        position: absolute;
        top: -11px;
        padding: 0px 5px;
        background-color: var(--background);
        left: 10px;
        font-size: .9rem;
        color: var(--background-opposite);
      }

      .formkit-outer {
        height: 52px;

        .formkit-wrapper {

          .formkit-inner {
            display: flex;
            align-items: center;
            background-color: var(--background);

            input:-webkit-autofill {
              -webkit-text-fill-color: var(--heading);
              -webkit-box-shadow: 0 0 0 100px var(--background) inset;
            }

            input {
              cursor: pointer;
              padding: 10px;
              width: 100%;
              border-radius: 4px;
              color: var(--heading);
              background-color: transparent;
              border: 1px solid var(--border);
              border-radius: 5px;
              height: 44px;
              font-size: 1rem;

              &:hover {
                background-color: var(--background);
                outline: none;
              }

              &::placeholder {
                color: var(--gray-base);
                font-size: .9rem;
              }
            }

          }
        }

        .formkit-messages {
          list-style-type: none;
          color: var(--danger);
          padding: 4px 0 0 0;
          text-align: left;
        }

      }
    }

    .form-group-textarea {
      position: relative;
      margin: 20px 0 28px;
      width: 100%;

      label {
        position: absolute;
        top: -11px;
        padding: 0px 5px;
        background-color: var(--background);
        left: 10px;
        font-size: .9rem;
        color: var(--background-opposite);
      }

      .formkit-outer {
        height: 144px;

        .formkit-wrapper {

          .formkit-inner {
            display: flex;
            align-items: center;
            background-color: var(--background);

            input:-webkit-autofill {
              -webkit-text-fill-color: var(--heading);
              -webkit-box-shadow: 0 0 0 100px var(--background) inset;
            }

            textarea {
              cursor: pointer;
              padding: 10px;
              width: 100%;
              border-radius: 4px;
              color: var(--heading);
              background-color: transparent;
              border: 1px solid var(--border);
              border-radius: 5px;
              height: 120px;
              font-size: 1rem;

              &:hover {
                background-color: var(--background);
                outline: none;
              }

              &::placeholder {
                color: var(--gray-base);
                font-size: .9rem;
              }
            }

          }
        }

        .formkit-messages {
          list-style-type: none;
          color: var(--danger);
          padding: 4px 0 0 0;
          text-align: left;
        }

      }
    }
  }

  .contact-form-info {
    margin: 0 auto;
    max-width: var(--tablet-width);
    padding: 40px 24px 30px;
    box-shadow: var(--shadow-card);
    
    .contact-form-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--heading-soft);
      text-align: center;
      margin-bottom: 8px;
      line-height: 2.5rem;
    }

    .contact-form-description {
      font-size: 1rem;
      color: var(--heading);
      text-align: center;
      margin-bottom: 24px;
      line-height: 1.5rem;
    }

  }
}

@media screen and (max-width: 758px) {

  .contact-form {
    padding: 0 16px;
    .contact-form-inner {
      .form-group-inline {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}